
@import "tailwindcss";

:root {
  --color-primary: #1F67F1;
  --color-bg: #ffffff;
  --color-text: #000000;
}

.dark {
  --color-primary: #E0F11E;
  --color-bg: #0a0a0a;
  --color-text: #f1f1f1;
}

@theme inline {
  --color-primary: var(--color-primary);
}

body {
  background: var(--color-bg);
  color: var(--color-text); 
  font-family: Arial, Helvetica, sans-serif;
}
